body, html {
	color: #eeeeee;
	background-color: #333333;
}

a {
	color: #9999ff;
}

h1 {
	color: #999999;
}

.nav a {
	color: #cccccc;
}

.gslide-description {
	color: #eeeeee!important;
	background-color: #333333!important;
}
