body, html {
	color: #eeeeee;
	background-color: #333333;
}

a {
	color: #9999ff;
}

.glightbox-clean
.gslide-description {
	color: #eeeeee!important;
	background-color: #333333!important;
}

.glightbox-mobile
.gslide-description {
	padding-top: 0!important;
	padding-bottom: 0!important;
	bottom: 0!important;
}

.glightbox-mobile
.gslide-description
.gdesc-inner {
	padding-top: 0!important;
}
