a {
	color: #000099;
}

.glightbox-mobile
.gslide-description {
	padding-top: 0!important;
	padding-bottom: 0!important;
	bottom: 0!important;
}

.glightbox-mobile
.gslide-description
.gdesc-inner {
	padding-top: 0!important;
}
