body {
	font-family: Sans-Serif;
}

a {
	text-decoration: none;
}

div.image-container {
	text-align: center;
	font-size: 80%;
	float: left;
	width: 275.0px;
	height: 275.0px;
}

div.image-container a {
	text-decoration: none;
}

div.image-container img {
	max-width: 250px;
	max-height: 250px;
}

div.image-page img {
	max-width: 100%;
}

div.image-details {
	max-width: 50em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

div.image-details th {
	text-align: left;
}

.gslide-desc p span {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.gslide-desc p span.sep {
	padding-left: 0.4em;
	padding-right: 0.4em;
}
