body {
	font-family: Sans-Serif;
}

a {
	text-decoration: none;
}

h1 {
	font-size: 120%;
	clear: both;
	padding-top: 1em;
	margin-left: 0.5em;
}

.nav {
	clear: both;
}

.nav a {
	font-size: 200%;
	padding-left: 1em;
	padding-right: 1em;
}

.nav a.this-file {
	font-weight: bold;
}

div.image-container {
	text-align: center;
	float: left;
	padding-left: 0.15em;
	padding-right: 0.15em;
}

div.image-list-end {
	clear: both;
}

div.image-container a {
	text-decoration: none;
}

div.image-container img {
	height: /* $limgheight */;
	margin: 0;
	padding: 0;
}

@media (max-width: 992px) {
	div.image-container img {
		height: /* $mimgheight */;
	}
}

@media (max-width: 600px) {
	div.image-container img {
		height: /* $simgheight */;
	}
}

div.image-page {
	text-align: center;
}

div.image-page img {
	max-width: 98vw;
	max-height: 90vh;
}

div.image-details {
	max-width: 50em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

div.image-details th {
	text-align: left;
}

.gslide-desc p span {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.gslide-desc p span.sep {
	padding-left: 0.4em;
	padding-right: 0.4em;
}
