body {
	font-family: Sans-Serif;
}

a {
	text-decoration: none;
}

h1 {
	clear: both;
	padding-top: 1em;
	margin-left: 1em;
}

div.image-container {
	text-align: center;
	font-size: 80%;
	float: left;
	width: /* $boxwidth */;
	height: /* $boxheight */;
}

div.image-list-end {
	clear: both;
}

div.image-container a {
	text-decoration: none;
}

div.image-container img {
	max-width: /* $imgwidth */;
	max-height: /* $imgheight */;
}

div.image-page {
	text-align: center;
}

div.image-page img {
	max-width: 98vw;
	max-height: 90vh;
}

div.image-details {
	max-width: 50em;
	margin-top: 2em;
	margin-left: auto;
	margin-right: auto;
}

div.image-details th {
	text-align: left;
}

.gslide-desc p span {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.gslide-desc p span.sep {
	padding-left: 0.4em;
	padding-right: 0.4em;
}
